# ---- Node ----
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.local
.env.*.local

# ---- Next.js ----
.next/
out/
dist/
!.env.example

# ---- Logs ----
logs
*.log
logs/*.log

# ---- OS / Editor ----
.DS_Store
Thumbs.db

# ---- Build files ----
*.cache
.cache/

