services:
  backend:
    build:
      context: ./server
    image: backend:v1
    container_name: backend
    ports:
      - "5500:5500"
    networks:
      - app-net

  frontend:
    build:
      context: ./client
      args:
        NEXT_PUBLIC_API_URL: http://backend:5500
    image: frontend:v1
    container_name: frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - app-net

networks:
  app-net:
    driver: bridge
