apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  namespace: jamia-form
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      name: backend-pod
      namespace: jamia-form
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: codewithshahid/form-backend
          ports:
            - containerPort: 5500
