apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  namespace: jamia-form
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      name: frontend-pod
      namespace: jamia-form
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: codewithshahid/form-frontend
          ports:
            - containerPort: 3000
